DATABASE_URL=postgresql://USER:PASSWORD@HOST/neondb?sslmode=require
PORT=3001
FRONTEND_URL=http://localhost:3000
SELLER_KEY=kicks-vendeur
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
